<div class="contenedor-footer-movil">
  <div class="columna1-footer col">
    <h2>{{ section.settings.titulo_1_footer }}</h2>
    <p>{{ section.settings.parrafo_1_footer }}</p>
  </div>
  <div class="columna2-footer col">
    <h2>{{ section.settings.titulo_2_footer }}</h2>
    <p>{{ section.settings.parrafo_2_footer }}</p>
  </div>
  <div class="columna3-footer col conversemos">
    <h2>Conversemos</h2>
    <div class="dato dato1">
      <img src="{{ section.settings.icono_whatsapp_conversemos | image_url }}" alt="">
      <p> <span>Asesoría: </span> 6674022602</p>
    </div>
    <div class="dato dato2">
      <img src="{{ section.settings.icono_mail_conversemos | image_url }}" alt="">
      <p><span>E-mail: </span> hola@tocklock.com.mx </p>
    </div>
  </div>
  <div class="columna-direccion col">
    <h2>{{ section.settings.titulo_direccion }}</h2>
    <p>{{ section.settings.texto_direccion }}</p>
  </div>
  <div class="columna-envios col">
    <img src="{{ section.settings.imagen_envios | image_url }}" alt="">
    <p>{{ section.settings.texto_envios }}</p>
  </div>
  <div class="columna-menu-explora col">
    <h2>{{ section.settings.texto_explora }}</h2>
    <a href="{{ section.settings.link_beneficios }}">{{ section.settings.enlace_beneficios }}</a>
    <a href="{{ section.settings.link_catalogo }}">{{ section.settings.enlace_catalogo }}</a>
  </div>
  <a href="{{ section.settings.link_encuentra }}">{{ section.settings.enlace_encuentra }}</a>
  <a href="{{ section.settings.link_soporte }}">{{ section.settings.enlace_soporte }}</a>
  <a href="{{ section.settings.link_faq }}">{{ section.settings.enlace_faq }}</a>
  <div class="columna-redes col">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">

  </div>
  <div class="columna-logo col">
    <img src="" alt="">
  </div>
  <div class="terminos col">
    <a href=""></a>
    <a href=""></a>
  </div>



</div>

<style> 
.contenedor-footer-movil {
  width: 100%;
  height: auto; 
  background-color: #0072C5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding: 50px 0px;
  position: relative;

}

.col {
  width: 90%;
  margin: 0px auto;
  height: auto;
}

.columna1-footer h2 , .columna2-footer h2 , .conversemos h2{
   color: #fff;
   font-weight: 500;
   font-family: 'Poppins', sans-serif;
   text-align: center;
   font-size: 24px;
   text-transform: uppercase;
}

.conversemos {
  height: 180px;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.conversemos h2 {
  position: relative;
  top: 20px;
  height: 20px;
  margin: 0;
  
}

.dato {
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
}



.dato1 , .dato2{
  position: relative;
  top: 45px;
}



.conversemos h2 {
  padding: 0;
}

.columna1-footer p , .columna2-footer p , .conversemos p {
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.conversemos .dato img {
  width: 22px;
  height: 22px;
  margin: 0px 5px;
}



.columna-direccion {
  margin: 10px 0px;

}

.columna-direccion h2 {
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
}

.columna-direccion p {
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.columna-envios {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 90%;
   margin: 0px auto;
}

.columna-envios img {
  width: 34px;
  height: 34px;
}

.columna-envios p{
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

.columna-menu-explora{
  width: 90$;
}








</style>

{% schema %} 

 {
   "name":"footer-info",
   "settings": [
     
      {
        "type":"text",
        "id":"titulo_1_footer",
        "label":"Ingresa el primer titulo del footer"
      },
      {
        "type":"textarea",
        "id":"parrafo_1_footer",
        "label":"Ingresa el texto del parrafo 1"
      },
      {
        "type":"text",
        "id":"titulo_2_footer",
        "label":"Ingresa el texto del titulo 2"
      },
      {
        "type":"textarea",
        "id":"parrafo_2_footer",
        "label":"Ingresa el parrafo 2"
      },
      {
         "type":"text",
         "id":"titulo_conversemos",
         "label":"Ingresa el titulo de conversemos"
      },
      {
        "type":"image_picker",
        "id":"icono_whatsapp_conversemos",
        "label":"Icono whatsapp"
      },
      {
        "type":"image_picker",
        "id":"icono_mail_conversemos",
        "label":"ingresa el icono de correo"
      },
      {
        "type":"text",
        "id":"titulo_direccion",
        "label":"Ingresa el titulo de direccion"
      },
      {
        "type":"textarea",
        "id":"texto_direccion",
        "label":"Ingresa el texto de la direccion"

      },
      {
        "type":"text",
        "id":"texto_envios",
        "label":"Ingresa el texto de los envios"
      },
      {
        "type":"image_picker",
        "id":"imagen_envios",
        "label":"ingresa la imagen de los envios"
      },
      {
        "type":"text",
        "id":"texto_explora",
        "label":"Ingresa el titulo de explora"
      },
      {
        "type":"text",
        "id":"enlace_beneficios",
        "label":"Ingresa el texto del enlace beneficios"
      },
      {

        "type":"url",
        "id":"link_beneficios",
        "label":"Ingresa el link de beneficios"

      },
      {
        "type":"text",
        "id":"enlace_catalogo",
        "label":"Ingresa el texto del enlace catalogo"
      },
      {
        "type":"url",
        "id":"link_catalogo",
        "label":"ingresa el link del catalogo"
      },
      {
        "type":"text",
        "id":"enlace_encuentra",
        "label":"Ingresa el texto del enlace de encuentra tu cerradura"
      },
      {
        "type":"url",
        "id":"link_encuentra",
        "label":"Ingresa el link del buscador de cerraduras"
      },
      {
        "type":"text",
        "id":"enlace_soporte",
        "label":"Ingresa el texto del enlace soporte"
      },
      {
        "type":"url",
        "id":"link_soporte",
        "label":"Ingresa el link de soporte"
      },
      {
        "type":"text",
        "id":"enlace_faq",
        "label":"Ingresa el texto del enlace de faq"
      },
      {
        "type":"url",
        "id": "link_faq",
        "label":"Ingresa el link de faq"
      }

 
      
   ],
   "presets":[
   
      {
        "name":"footer"
      }
   
   ]
 }


{% endschema %}