<div class="contenedor-galeria">
    <div class="fila-galeria">
        <div class="card-galeria">
            <img src="{{ section.settings.imagen_slider_1 | image_url }}" alt="">
        </div> 
        <div class="card-galeria">
            <img src="{{ section.settings.imagen_slider_2 | image_url }}" alt="">
        </div>
        <div class="card-galeria">
            <img src="{{ section.settings.imagen_slider_3 | image_url }}" alt="">
        </div>
        <div class="card-galeria">
            <img src="{{ section.settings.imagen_slider_4 | image_url }}" alt="">
        </div>
        <div class="card-galeria">
            <img src="{{ section.settings.imagen_slider_5 | image_url }}" alt="">
        </div>
        <div class="card-galeria">
            <img src="{{ section.settings.imagen_slider_6 | image_url }}" alt="">
        </div>
        <div class="card-galeria">
            <img src="{{ section.settings.imagen_slider_7 | image_url }}" alt="">
        </div>
        <div class="card-galeria">
            <img src="{{ section.settings.imagen_slider_8 | image_url }}" alt="">
        </div>
    </div>
</div>


<style>
    
    .contenedor-galeria{
        width: 100%;
        height: 550px;
        padding: 50px 50px;
        margin: 0px auto;
        max-width: 1300px;
       
    }
 
    .fila-galeria {
        width: 100%;
        margin: 0px auto;
        height: inherit;
        max-width: 1300px;
     
        
    }
   
    .card-galeria {
        width: 300px;
        height: auto; 
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }

    .card-galeria img {
        width: 300px;
        height: auto;
    }

    /* .card-galeria {
        transform: scale(0.8);
        transition: all 0.4s ease-in-out;
        padding: 40px 0;
    }
    .card-galeria img {
         max-width: 100%;
         transition: all 0.4s ease-in-out;
    }

    .slick-center{
        transform: scale(1.2);
    }
  */
</style>
 

<script>
    $(document).ready(function($){
        $('.fila-galeria').slick({
            
  
  slidesToShow: 3,
  slideToScroll:1,
  arrows:false,
  dots:true,
  responsive:[
     {
        breakpoint:991,
        settings:{
            slidesToShow: 2
        }
     },
     {
        breakpoint:576,
        settings:{
            slidesToShow:1,
            dots:false,
            centerMode:true
        }
     }
  ]
  
            
  
        })
    })
</script>



{% schema %} 

 {
    "name":"galeria-slider",
    "settings":[
       {
        "type":"image_picker",
        "id":"imagen_slider_1",
        "label":"Ingresa la imagen 1"
       },
       {
        "type":"image_picker",
        "id":"imagen_slider_2",
        "label":"Ingresa la imagen 2"
       },
       {
        "type":"image_picker",
        "id":"imagen_slider_3",
        "label":"Ingresa la imagen 3"
       },
       {
        "type":"image_picker",
        "id":"imagen_slider_4",
        "label":"Ingresa la imagen 4"
       },
       {
        "type":"image_picker",
        "id":"imagen_slider_5",
        "label":"Ingresa la imagen 5"
       },
       {
        "type":"image_picker",
        "id":"imagen_slider_6",
        "label":"Ingresa la imagen 6"
       },
       
        {
            "type":"image_picker",
            "id":"imagen_slider_7",
            "label":"Ingresa la imagen 7"
           },
           {
            "type":"image_picker",
            "id":"imagen_slider_8",
            "label":"Ingresa la imagen 8"
           }
       
    ],
    "presets":[
       {
         "name":"galeria-slider"
       } 
    ]
 }


{% endschema %}