<div class="titulo-resena">
    <h1>{{ section.settings.titulo_resena }}</h1>
</div>
<div class="contenedor-resenas">
     
         
            <img class="res" src="{{ section.settings.resena_1 | image_url }}" alt="">
         
         
            <img class="res" src="{{ section.settings.resena_2 | image_url }}" alt="">
         
         
            <img class="res" src="{{ section.settings.resena_3 | image_url }}" alt="">
        
         
            <img class="res" src="{{ section.settings.resena_4 | image_url }}" alt="">
         
        
           
         
     
</div>

<style>

    .titulo-resena {
        width: 90%;
        margin: 0px auto;
    }

    .titulo-resena h1{
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 20px;
        padding-top: 20px;
    }

    @media(min-width:768px){
        .titulo-resena h1 {
            font-size: 30px;
            line-height: 30px;
        }
    }

    .contenedor-resenas{
        width: 100%;
        margin: 0px auto;
        max-width: 1440px;
        padding: 20px 0px;
        height: 500px;
        
    }

    @media(min-width:768px){
        .contenedor-resenas {
            height: 600px;
        }
    }

 

    .res {
        width: 340px;
        height: 380px;
    }

    .slick-dots{
        width: 90%;
        margin: 0px auto;
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        max-width: 400px;
        height: 30px;
        position: relative;
        top: 20px;
        right: 10px; 
        
    }

    .slick-dots li {
        width: 16px;
        height: 16px;
        margin: 0px 8px; 
    }

    @media(max-width:576px){
        .slick-dots li {
        width: 18px;
        height: 18px;
        margin: 0px 8px; 
    }

    }

    .slick-dots li button {
        background-color: #0072C5;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        border: 0;
        color: #0072C5;
        font-size: 6px;
    }

    .slick-dots   .slick-active button {
        background-color: #fff; 
        border: 1px solid #0072C5;
        color: #fff;
        
    }

    @media(max-width:576px){
        .slick-dots li button {
            width: 18px;
            height: 18px;
        }
    }

  
</style>

<script>

     $(document).ready(function($){
        $('.contenedor-resenas').slick({
  infinite: true,
  dots:true,
  arrows:false,
  slidesToShow: 3,
  slidesToScroll: 3,
  centerMode:true,
  centerPadding:'60px',


  responsive:[
     {
        breakpoint:1024,
        settings:{
            slidesToShow: 3,
           slidesToScroll: 3,
           centerMode:true,
           centerPadding:'60px'
        }
     }, 
     {
        breakpoint:768,
        settings:{
            slidesToShow: 2,
           slidesToScroll: 2,
           centerMode:true
        }
     },
     {
        breakpoint:576,
        settings:{
           slidesToShow: 1,
           slidesToScroll: 1,
           dots:true,
           focusOnSelect: true,
           centerMode:false
          
        }
     }
  ]
});

     })
   
</script>



{% schema %} 

 {
    "name":"resenas",
"settings":[
    {
      "type":"text",
      "id":"titulo_resena",
      "label":"texto del titulo resena"
    },
   {
     "type":"image_picker",
     "id":"resena_1", 
     "label":"Ingresa la rese単a 1"
   },
     {
     "type":"image_picker",
     "id":"resena_2", 
     "label":"Ingresa la rese単a 2"
   },
   {
      
     "type":"image_picker",
     "id":"resena_3", 
     "label":"Ingresa la rese単a 3"
   },
   {
     "type":"image_picker",
     "id":"resena_4", 
     "label":"Ingresa la rese単a 4"
   }
   
],
"presets":[
   {
     "name":"resenas"
   } 
]
 }


{% endschema %}