
<div class="contenedor-resenas">
     <div class="content-resenas">
         <div class="card-resena">
            <img src="{{ section.settings.resena_1 | image_url }}" alt="">
         </div>
         <div class="card-resena">
            <img src="{{ section.settings.resena_1 | image_url }}" alt="">
         </div>
         <div class="card-resena">
            <img src="{{ section.settings.resena_1 | image_url }}" alt="">
         </div>
         <div class="card-resena">
            <img src="{{ section.settings.resena_1 | image_url }}" alt="">
         </div>
         <div class="card-resena">
            <img src="{{ section.settings.resena_1 | image_url }}" alt="">
         </div>
         <div class="card-resena">
            <img src="{{ section.settings.resena_1 | image_url }}" alt="">
         </div>
     </div>
</div>

<style>

    .contenedor-resenas{
        width: 90%;
        margin: 0px auto;
        max-width: 1140px;
    }

    .content-resenas{
        width: 100%;
        height: inherit;

    }
    .card-resena{
        width: 350px;
        height: 400px;
       
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-resena img {
        width: 340px;
        height: 380px;
    }

    .slick-dots{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        
    }

    .slick-dots li {
        width: 20px;
        height: 20px;
        margin: 0px 5px;
    }

    .slick-dots li button {
        background-color: #0072C5;
        border-radius: 50%;
        border: 0;
        color: #0072C5;
    }
</style>

<script>

     $(document).ready(function($){
        $('.content-resenas').slick({
  infinite: true,
  dots:true,
  arrows:false,
  responsive:[
     {
        breakpoint:1024,
        settings:{
            slidesToShow: 4,
           slidesToScroll: 4,
        }
     }
  ]
});

     })
   
</script>



{% schema %} 

 {
    "name":"resenas",
"settings":[
   {
     "type":"image_picker",
     "id":"resena_1", 
     "label":"Ingresa la reseña 1"
   }
],
"presets":[
   {
     "name":"resenas"
   } 
]
 }


{% endschema %}