
<div class="contenedor-resenas">
     <div class="content-resenas">
         
            <img class="res" src="{{ section.settings.resena_1 | image_url }}" alt="">
         
         
            <img class="res" src="{{ section.settings.resena_1 | image_url }}" alt="">
         
         
            <img class="res" src="{{ section.settings.resena_1 | image_url }}" alt="">
        
         
            <img class="res" src="{{ section.settings.resena_1 | image_url }}" alt="">
         
        
            <img class="res" src="{{ section.settings.resena_1 | image_url }}" alt="">
         
         
            <img class="res" src="{{ section.settings.resena_1 | image_url }}" alt="">
         
     </div>
</div>

<style>

    .contenedor-resenas{
        width: 90%;
        margin: 0px auto;
        max-width: 1140px;
    }

    .content-resenas{
        width: 100%;
        height: inherit;

    }
    

    .res {
        width: 340px;
        height: 380px;
    }

    .slick-dots{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        
    }

    .slick-dots li {
        width: 20px;
        height: 20px;
        margin: 0px 5px;
    }

    .slick-dots li button {
        background-color: #0072C5;
        border-radius: 50%;
        border: 0;
        color: #0072C5;
    }
</style>

<script>

     $(document).ready(function($){
        $('.content-resenas').slick({
  infinite: true,
  dots:true,
  arrows:false,
  slidesToShow: 4,
  slidesToScroll: 4,
  centerMode:true,
  responsive:[
     {
        breakpoint:1024,
        settings:{
            slidesToShow: 3,
           slidesToScroll: 3,
        }
     },
     {
        breakpoint:768,
        settings:{
            slidesToShow: 2,
           slidesToScroll: 2,
        }
     },
     {
        breakpoint:576,
        settings:{
           slidesToShow: 1,
           slidesToScroll: 1,
           dots:true
          
        }
     }
  ]
});

     })
   
</script>



{% schema %} 

 {
    "name":"resenas",
"settings":[
   {
     "type":"image_picker",
     "id":"resena_1", 
     "label":"Ingresa la reseña 1"
   }
],
"presets":[
   {
     "name":"resenas"
   } 
]
 }


{% endschema %}