
<div class="contenedor-resenas">
     <div class="content-resenas">
         <div class="card-resena">
            <img src="{{ section.settings.resena_1 | image_url }}" alt="">
         </div>
         <div class="card-resena">
            <img src="{{ section.settings.resena_1 | image_url }}" alt="">
         </div>
         <div class="card-resena">
            <img src="{{ section.settings.resena_1 | image_url }}" alt="">
         </div>
         <div class="card-resena">
            <img src="{{ section.settings.resena_1 | image_url }}" alt="">
         </div>
         <div class="card-resena">
            <img src="{{ section.settings.resena_1 | image_url }}" alt="">
         </div>
         <div class="card-resena">
            <img src="{{ section.settings.resena_1 | image_url }}" alt="">
         </div>
     </div>
</div>

<style>
    .card-resena{
        width: 350px;
        height: 350px;
        border: 1px solid black;
    }

    .card-resena img {
        width: 300px;
        height: 300px;
    }

    .slick-dots{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        
    }

    .slick-dots li {
        width: 20px;
        height: 20px;
        margin: 0px 5px;
    }

    .slick-dots li button {
        background-color: #0072C5;
        border-radius: 50%;
        border: 0;
        color: #0072C5;
    }
</style>

<script>

     $(document).ready(function($){
        $('.content-resenas').slick({
  infinite: true,
  slidesToShow: 3,
  slidesToScroll: 1,
  dots:true,
  arrows:false
});

     })
   
</script>



{% schema %} 

 {
    "name":"resenas",
"settings":[
   {
     "type":"image_picker",
     "id":"resena_1", 
     "label":"Ingresa la reseña 1"
   }
],
"presets":[
   {
     "name":"resenas"
   } 
]
 }


{% endschema %}